antlr4-python3-runtime==4.7.2
appdirs==1.4.3
cycler==0.10.0
decorator==4.4.0
future==0.17.1
hafnian==0.6.1
iso8601==0.1.12
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mpmath==1.1.0
networkx==2.3
numpy==1.17.0
pyparsing==2.4.2
pyserial==3.4
python-dateutil==2.8.0
PyYAML==5.4
quantum-blackbird==0.2.1
scipy==1.3.1
six==1.12.0
StrawberryFields==0.11.1
sympy==1.4
toml==0.10.0
